body {
	font-family: 'Sen', Arial, Helvetica, sans-serif;
	background-color: rgb(31, 31, 31);
}

ul {
	list-style-type: none;
	max-width: fit-content;
	padding: 0;
}

li {
	margin: 0.5em;
	background-color: rgb(48, 48, 48);;
	color: white;
	padding: 0.5em;
	border-radius: 0.5em;
}

li:hover {
	outline-width: 3px;
	outline-style: solid;
	outline-color: rgb(90, 90, 90);
}