body {
	font-family: 'Sen', Arial, Helvetica, sans-serif;
	background-color: rgb(31, 31, 31);
	margin: 0;
}

.list {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

ul {
	margin: auto;
	list-style-type: none;
	max-width: fit-content;
	padding: 0;
	padding-bottom: 0.1em;
	display: flex;
	flex-direction: column;
	/* background-color: rgb(31, 31, 31); */
	background-color: rgb(20, 20, 20);
	border-radius: 0.5em;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

li {
	/* margin: 0.2em; */
	background-color: rgb(31, 31, 31);;
	color: white;
	padding: 0.5em;
	/* border-radius: 0.5em; */
	text-overflow: ellipsis;
	overflow: hidden; 
	white-space: nowrap;
	border-bottom: 3px solid rgb(48, 48, 48);

	transition: transform 0.2s;
}

li:hover {
	background-color: rgb(48, 48, 48);
}